<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MAB.DotIgnore" Description="The Microsoft Managed Recommended and StyleCop rulesets, with a couple of exclusions." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1500" Action="None" />
  </Rules>
</RuleSet>